<div class="container">
  <h1>Here are all your lists</h1>
  <ul>
    <% @lists.each do |list| %>
    <li> <%= link_to list.name, list_path(list) %></li>
    <% end %>
  </ul>

  <%= link_to "Create a list", new_list_path %>
</div>
