.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-align: center;
}

.card-category a {
  color: white;
  opacity: 0.8;
  font-size:18px;
}

.card-category a:hover {
  color: white;
  text-decoration: none;
  opacity: 1;
}

.card img {
  height: 200px;
  object-fit: cover;
  position:relative;
}

#card-body-bookmark {
  height: 250px;
}
